<!DOCTYPE html>

<html lang="eng"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<body>
	<div layout:fragment="content">
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h5 class="m-0 font-weight-bold text-primary">Address List</h5>
			</div>
			<div class="card-body py-2">
				<a th:href="@{/custaddress/new}" class="btn btn-success" role="button">Add Address</a>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<div id="dataTable_wrapper"
						class="dataTables_wrapper dt-bootstrap4">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-bordered dataTable" id="dataTable"
									role="grid" aria-describedby="dataTable_info"
									style="width: 100%;">
									<thead>
										<tr>
											<th>Address</th>
											<th>Province</th>
											<th>Customer</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="custAddress:${custAddresses}">
											<td th:text="${custAddress.address}"></td>
											<td th:text="${custAddress.province}"></td>
											<td th:text="${custAddress.customerName}"></td>
											<td>
												<div>
													<div>
														<a th:href="@{/custaddress/update/{id}(id=${custAddress.id})}" class="btn btn-warning" role="button">Edit</a>
														<a th:href="@{/custaddress/delete/{id}(id=${custAddress.id})}" class="btn btn-danger" role="button">Delete</a>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>